.center {
  display: flex;
  justify-content: center;
}
.ma {
  margin: auto;
}
.img-box {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}
.input-image-style {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #b6e63d inset;
  cursor: pointer;
  z-index: 1;
}

@media only screen and (min-width: 769px) {
  .img-box {
    max-width: 50%;
  }
}
@media only screen and (min-width: 820px) {
  .img-box {
    max-width: 70%;
  }
}
@media only screen and (min-width: 1025px) {
  .img-box {
    max-width: 40%;
  }
}
